<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="...//..//..//../public/image/burger-small.jpg" type="text/css" />
	<title>Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="..//../public/image/burger-small.jpg"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>