<h1>Burger!</h1>

<h2>Eat Da Burger!</h2>

<ul>
  {{#each burger}}
    {{#unless hot}}
      {{> burgers/burger-block Hot=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are Fresh!</h2>

<ul>
  {{#each burger}}
    {{#if hot}}
      {{> burgers/burger-block hot=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="hot">hot?</label><br>
    <input type="radio" name="hot" value="1" checked> beefBurger!<br>
    <input type="radio" name="fresh" value="0"> hot
  </div>

  <button type="submit">Add Burger</button>
</form>
