li {
    padding: 5px;
    margin: 5px;
    background:blue;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background:whitesmoke;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
 body {

  background-image: url("../../image/burger-small.jpg");
  background-repeat: no-repeat;
  background-size: 90% 120%;
  background-attachment: fixed;
  background-position: center
 }